.movie-details {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* height: 100vh; */
  width: 100%;
}
.movie-details-img{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.movie-details-img img{
    object-fit: contain;
}
.movie-details-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}