.movie-details{
    display: flex;
    height: fit-content;
    padding: 0.1rem 1rem ;
    gap: 1rem;
}
.color-text{
    color: red;
}
.movie-details-img {
    width: 50vw;
}
.movie-details-img img{
    width: 100%;
}
.movie-details-content {
    display: flex;
    width: 50vw;
    flex-direction: column;
    justify-content: center;
    /* text-wrap: nowrap; */
}
.movie-details-content h1{
    margin-bottom: 2rem;
}
.movie-details-content p{
    margin-bottom: 2rem;
}
.btn{
    max-width: 300px;
    text-align: center;
    margin-right: 2rem;
    justify-content: center;
    padding: 15px 35px;
    border-radius: 50px;
    outline: none;
    border: 0;
    font-weight:bold;
    font-size: 20px;
    cursor: pointer;
    color: white;
    background-color: red;
    transition: all .4s;
}
.btn:hover{
    transform: scale(1.1);
}