.root-layouts{
   display: grid;
   grid-template-columns: 70px 1fr;
   
 
    height: fit-content;
    /* gap: 2px; */
    /* gap: 20px; */
    position: relative;
}
.root-layouts main{
    grid-column: 2/3;
    width: 100%;
    overflow-x: scroll;

}
.root-layouts main::-webkit-scrollbar{
    width: 0;
}
.root-layouts nav{
    background-color: var(--secondaryBg);
     border-radius: 10px;
     z-index: 10;
     position: fixed;
     width:fit-content;
     padding: 0.8rem;
     margin-left: 5px;
     margin-top: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 95vh;
     align-items: center;
}
/* .root-layouts__img{
    background-color: white;
    width: fit-content;
    padding: 10px 12px;
    border-radius: 46%;
} */
.root-layouts__img img{
    width: 2rem;
}
.avatar{
    width: 2rem;
    border-radius: 50%;
}
nav ul{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-content: center;
}
a.active svg{
    color: red;
}
