@import url('https://fonts.googleapis.com/css2?family=Inter:wght@800&display=swap');
.movieBox-all {
  display: flex;
  flex-direction: column;
  height: fit-content;
}
.movieBox-all-input {
  padding: 10px;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  flex-wrap: nowrap;
 position: relative;
}
.movieBox-all-input div button {
  color: red;
  background-color: white;
  margin-right: 20px;
  border: 0;
  cursor: pointer;
  padding: 5px 10px;
  font-weight: 500;
  margin-top: 4px;
  border-radius: 5px;
  width: fit-content;
  position: relative;
  z-index: 1000;
}
.movieBox-intro {
  height: 100vh;
  background-image: url("../../../assets/spider-man.jpg");
  background-size: cover;
  position: relative;
  /* opacity: 0.6; */
}

.gradient {
  width: 100%;
  /* background-color: black; */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* opacity: 0.6; */
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, 0.8) 100%
  );
  background: rgb(0 0 0 / 58%);
}
.svg {
  width: 1.2rem;
  position: relative;
  top: 4px;
}
.bi-search {
  font-weight: bold;
  position: relative;
  cursor: pointer;
}
.in{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #000;
  padding: 4px 10px 4px 6px;
}
.movieBox-all-input input {
  padding: 15px;
  max-width: 320px;
  outline: none;
  background-color: #000;
  border: 0;
  color: white;
  border-radius: 35px;
}
.intro-text {
  height: 100%;
  text-align: center;
  margin-top: 6rem;
  z-index: 1000;
  position: relative;
}
.intro-text h1 {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: 'inter',sans-serif;
}
.intro-text button{
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
 margin-top: 10px;
 cursor: pointer;
  font-size: 22px;
}
.movieBox-all-input input:focus {
  background-color: black;
}
.movieBox-all-content {
  padding: 20px 10px 10px 10px;
  height: fit-content;
  flex-direction: column;
  display: flex;
}
.movieBox-all-content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.movieBox-all__trending {
  padding: 10px 0 10px 0;
  margin: 5px 25px;
  flex-wrap: wrap;
}
.movieBox-all__trending::-webkit-scrollbar {
  width: 0;
}

.movieBox-all-recommend {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 2rem;
}
.movieBox-all-recommend__contents {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 20px;
  padding-top: 1rem;
}
.ff {
  display: flex;
}
@media screen and (max-width:700px){
  .movieBox-all-recommend__contents{
    justify-content: center;
  }
.movieBox-all-recommend__contents{
  width: 100%;
}

  .movieBox-all-input {
    padding: 5px;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1000;
  }
  .movieBox-all-input div{
    position: relative;
  }
  .movieBox-all-input div button {
    margin-top: unset;
  }
  .movieBox-all-input input {
    padding: 7px 12px;
    min-width: unset;
    width: 100%;
    outline: none;
    background-color: #000;
    border: 0;
    color: white;
    border-radius: 35px;
  }

  
  .movieBox-all-input input {
    padding: 15px;
    max-width: 320px;
    outline: none;
    background-color: #000;
    border: 0;
    color: white;
    border-radius: 35px;
  }
}