.bookmark{
    padding-top: 1rem;
}
.bookmark-set{
    margin-top: 1rem;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.no-data, .no-data-signIn{
    display: grid;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: red;
}
.no-data-signIn{
    color: white;
}
.no-data div img,.no-data-signIn img{
    width: 40%;
    margin-bottom: 1rem;
    /* height: 100%; */
}
@media screen and (max-width:700px){
 .bookmark-set{
    justify-content: center;
 }    
}