@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --secondaryBg: rgb(53 52 52 / 39%)
}
*{
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #000;
  color: white;
  overscroll-behavior-x: none;
}
a{
  color: white;
  text-decoration: none;
}
a.active{
  font-weight: bold;
}