@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
:root{
  --secondaryBg: rgb(53 52 52 / 39%)
}
*{
  margin: 0;
  padding: 0;
  /* overflow: scroll; */
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background-color: #000;
  color: white;
  overscroll-behavior-x: none;
}
a{
  color: white;
  text-decoration: none;
}
a.active{
  font-weight: bold;
}
.btn{
    text-align: center;
    margin-right: 1.2rem;
    justify-content: center;
    padding: 10px 15px ;
    border-radius: 50px;
    outline: none;
    border: 0;
    font-weight:bold;
    cursor: pointer;
    color: white;
    background-color: red;
    transition: all .4s;
}
.btn:hover{
    background-color: rgba(255, 0, 0, 0.318);
}
@media screen and (max-width:500px){
  .btn{
    margin-top: 12px;
    margin-right: 7px;
  }
}